<!DOCTYPE html>
<head>
    <title>Buying Decision!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <iframe id="viewer"></iframe>
    </div>
    <div class="buttons">
        <button onclick="document.getElementById('viewer').src='/adder'">Add Item</button>
        <button onclick="document.getElementById('viewer').src='/decide'">Review Item</button>
    </div>
</body>
<footer>
    <div class="supporter">
        <h6>If you like my work, consider getting me that drug!</h6>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>kofiwidget2.init('Buy me a coffee!', '#eb9226', 'F1F61270OL');kofiwidget2.draw();</script> 
    </div>
</footer>
</html>